
body {
    font-family: 'Merriweather', serif !important;
    color: #1f0505;
    height: 100vh;
    background-position: center;
}

.first{
    width: 80%;
    margin:auto;
}
.navbar{
    margin: 30px auto;
    display:flex;
    align-items: center;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display:inline-block;
    list-style: none;
    margin: 0 25px;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    position:relative;
}
ul li a::after{
    content: '';
    width:0%;
    height:10px;
    background: #FFA5A5;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top: -55px;
    transition: 0.2s;
}
ul li a:hover::after{
    width: 100%;
}
.container{
    background: #000000;
}
.res-card {
    /*   border: 1px solid rgba(0, 0, 0, 0.8) !important; */
    padding: 1.2em;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out;
    background: #fcfbed;
}

.res-card:hover {
    z-index: 10;
    box-shadow: 0px 0px 20px 0px rgba(#575656, 0.6);
    background: white;
}

.card-horizontal {
    display: flex !important;
    flex-wrap: no-wrap;
    flex: 1 1 auto !important;
}

.timing {
    color: green;
}

.res-content {
    line-height: 1em !important;
}

.more-info {
    float: right;
    padding: 0.7em 1em;
    border: none;
    color: #eee;
    background-color: rgba(23, 37, 42, 0.9);
    outline: none;
    transition: all 0.4s ease-out;
}

.more-info>a,
.more-info>a:hover {
    text-decoration: none;
    color: inherit;
}

.more-info:hover {
    border: none;
    color: white;
    background-color: #0e578e;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}





